.bg-body-tertiary {
    background-color: #ED7014 !important;

    a.navbar-brand {
        margin-left: 2rem !important;
    }    
}

.offcanvas {
    background-color: #ED7014 !important; 

    .h5{
        color: #FFFFFF ;
        font-weight: 800;
    }

    a{
        color: #FFFFFF ;
        font-weight: 6600;
    }

}

